@model List<MyShop.Models.Car>

@{
    ViewBag.Title = "Admin Car List";
}

<h1>Admin Car List</h1>
<div class="row">
    <div class="col-md-2">
        <ul class="list-group">
            <li class="list-group-item">
                <a asp-controller="Car" asp-action="List" asp-route-brand="mercedes" class="nav-link">Mercedes</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Car" asp-action="List" asp-route-brand="skoda" class="nav-link">Skoda</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Car" asp-action="List" asp-route-brand="vw" class="nav-link">Volkswagen</a>
            </li>
            <li class="list-group-item">
                <a asp-controller="Car" asp-action="List" asp-route-brand="ford" class="nav-link">Ford</a>
            </li>

        </ul>
    </div>
    <div class="col-md-10">
        <table class="table table-info table-striped">
            <tr>
                <th>
                    Brand
                </th>
                <th>
                    Model
                </th>
                <th>
                    Price
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-controller="Car" asp-action="Add" asp-route-id=@item.Id class="btn btn-warning">Edit Car</a>
                    </td>
                    <td>
                        <a asp-controller="Car" asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger">Delete Car</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="Car" asp-action="Add" class="btn btn-primary">Add New Car</a>
    </div>
</div>